  build-and-push:
    needs: [test-product]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push auth
        uses: docker/build-push-action@v6
        with:
          context: ./auth
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/eproject-auth:latest

      - name: Build & push product
        uses: docker/build-push-action@v6
        with:
          context: ./product
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/eproject-product:latest

      - name: Build & push order
        uses: docker/build-push-action@v6
        with:
          context: ./order
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/eproject-order:latest

      - name: Build & push gateway
        uses: docker/build-push-action@v6
        with:
          context: ./api-gateway
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/eproject-gateway:latest
